Strata Recorder.xcodeproj/project.xcworkspace/xcuserdata/daltman.xcuserdatad/UserInterfaceState.xcuserstate
Strata Recorder.xcodeproj/project.xcworkspace/xcuserdata/daltman.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
